 <!DOCTYPE html>
<html lang="fa">
<head>
<meta charset="UTF-8">
<title>تمرین جدول با img</title>
<style>
  table {
    width: 70%;
    border-collapse: collapse;
    margin: 30px auto;
    text-align: center;
  }

  th, td {
    border: 1px solid #aaa;
    padding: 12px;
  }

  tr:hover {
    background-color: #f0f8ff; /* تغییر رنگ پس‌زمینه هنگام hover */
  }

  img {
    width: 40px;
    height: 40px;
  }
</style>
</head>
<body>

<h2 style="text-align:center;">روش ۱: استفاده از تگ img</h2>

<table>
  <tr>
    <th>ردیف</th>
    <th>آیکون</th>
    <th>توضیحات</th>
  </tr>
  <tr>
    <td>۱</td>
    <td><img src="https://cdn-icons-png.flaticon.com/512/616/616408.png" alt="server"></td>
    <td>پلن استارتر</td>
  </tr>
  <tr>
    <td>۲</td>
    <td><img src="https://cdn-icons-png.flaticon.com/512/414/414974.png" alt="cloud"></td>
    <td>پلن متوسط</td>
  </tr>
  <tr>
    <td>۳</td>
    <td><img src="https://cdn-icons-png.flaticon.com/512/1126/1126870.png" alt="briefcase"></td>
    <td>پلن بیزینس</td>
  </tr>
</table>

</body>
</html>